.env
.idea/
data/generated/*
!data/generated/.gitkeep
!data/generated/raw/
data/generated/raw/*
!data/generated/raw/.gitkeep
!data/generated/reports/
data/generated/reports/*
!data/generated/reports/.gitkeep

__pycache__/
*.pyc
.DS_Store
